body {
    margin: 0;
    padding: 0; 
    background-color: #eee;
    font: normal 1.3em system-ui;
}

header {
    background-color: #eee;
    height: 5em;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease-in-out;
}

header.scrolled {
    background-color: rgb(41, 41, 41);
}

header nav {
    padding: 1.5em 0 1.5em 5em;
}

header nav a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    margin: 1em;
    transition: color 0.3s ease-in-out;
}

header.scrolled nav a {
    color: white;
}

.content {
    margin: 0 auto;
    max-width: 1200px;
    height: 1500px;
}

.content p {
    color: rgb(66, 66, 66);
    padding-bottom: 16px;
}

footer p {
    margin: 0;
    background-color: rgb(41, 41, 41);
    color: #fff;
    text-align: center;
    font-size: 0.6em;
    padding: 4px;
}

footer p a {
    text-decoration: none;
    color: #fff;
}