* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eaeaea;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 8px 8px 10px rgba(80, 80, 80, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    box-shadow: 6px 6px 18px 1px #1116;
}

.container .slide .item:nth-child(3):hover {
    cursor: pointer;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3){
    left: 65%;
}

.slide .item:nth-child(4){
    left: calc(65% + 220px);
}

.slide .item:nth-child(5){
    left: calc(65% + 440px);
}

.slide .item:nth-child(n + 6){
    left: calc(65% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 200px;
    width: 320px;
    text-align: left;
    color: #eee;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.1));
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
    padding: 20px;
    border-radius: 8px;
}

.item.coliseu {
  background-image: url('../images/coliseu.jpg');
}

.item.taj-mahal {
  background-image: url('../images/taj-mahal.jpg');
}

.item.machu-picchu {
  background-image: url('../images/machu-picchu.jpg');
}

.item.muralha-da-china {
  background-image: url('../images/muralha-da-china.jpg');
}

.item.cristo-redentor {
  background-image: url('../images/cristo-redentor.jpg');
}

.item.petra {
  background-image: url('../images/petra.jpg');
}

.item.chichen-itza {
  background-image: url('../images/chichen-itza.jpg');
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 0.7s ease-in-out 1 forwards;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 0.6s ease-in-out 0.3s 1 forwards;
}

.content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 0.5s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}


.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 40px;
    color: #00000075;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin: 0 2px;
    transition: 0.3s;
}

.button button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}